@use '../common-styles' as common;

$button-size: 44px;

.submit,
.vote {
  &-menu-button--jw {
    width: $button-size;
    height: $button-size;
  }
}

.skip {
  &-indicators--jw {
    top: 50%;
    margin-top: -2px;
    height: 4px;
  }

  &-button {
    &--mobile {
      right: 1.25em;
      bottom: 4em;
    }

    &--jw {
      bottom: 5.5em;
    }

    &--fullscreen {
      &--jw {
        @media (min-width: common.$xl) {
          right: 4.5em;
          bottom: 8.5em;
        }
      }

      &--fcdn,
      &--fembed-hd,
      &--streamhd {
        @media (min-width: common.$xl) {
          right: 2.75em;
          bottom: 5.5em;
        }
      }
    }

    &--videovard {
      z-index: 9999999999;
    }
  }
}

.menus {
  &--mobile {
    left: 1.25em;
    right: 0px;
    bottom: 4em;

    &--jw {
      bottom: 6em !important;
    }
  }

  &--jw {
    bottom: 6em;

    @media (min-width: common.$md) {
      bottom: 10em;
    }
  }

  &--fullscreen {
    &--jw {
      @media (min-width: common.$xl) {
        right: 3em;
        bottom: 13em;
      }
    }

    &--streamhd,
    &--fcdn {
      @media (min-width: common.$xl) {
        bottom: 10em;
      }
    }
  }

  &--videovard {
    z-index: 9999999999;
  }
}
