@use '../common-styles' as common;

$button-size: 36px;

.submit,
.vote {
  &-menu-button--kodik {
    width: $button-size;
    height: $button-size;
  }
}

.skip {
  &-indicators--kodik {
    opacity: 0.5;
  }

  &-button--kodik {
    right: 3.9em;
    bottom: 5.5em;
    cursor: pointer;
  }
}

.menus--kodik {
  right: 2.5em;
  bottom: 8em;

  @media (min-width: common.$md) {
    bottom: 10em;
  }
}

.player-buttons--kodik {
  position: absolute !important;
  bottom: 30px;
  right: -32px;
}
