$variant: twistmoe;

.submit,
.vote {
  &-menu-button--#{$variant} {
    pointer-events: all;
    margin-top: 2px;
  }
}

.skip-indicators--#{$variant} {
  top: 50%;
  margin-top: -1px;
  height: 2px;
}
