// Override custom player styles
:host {
  all: initial !important;
  font-size: 16px !important;
}

// Override user agent stylesheet
form {
  margin-block-end: 0;
}

.submit,
.vote {
  $crunchyroll-button-size: 40px;
  $jw-button-size: 44px;
  $doodstream-button-size: 70px;
  $videojs-button-size: 40px;

  &-menu {
    &--crunchyroll {
      bottom: 10em;
    }

    &--jw {
      bottom: 8em;
      right: 0.5em;

      &--fullscreen {
        right: 3em;
        bottom: 12em;
      }
    }

    &--doodstream {
      right: 2.5em;
      bottom: 9.5em;
    }

    &-button {
      &--plyr {
        margin-right: -2px;
      }

      &--crunchyroll {
        width: $crunchyroll-button-size;
        height: $crunchyroll-button-size;
      }

      &--jw {
        width: $jw-button-size;
        height: $jw-button-size;
      }

      &--doodstream {
        width: $doodstream-button-size;
        height: $doodstream-button-size;
      }

      &--videojs {
        width: $videojs-button-size;
        height: $videojs-button-size;
      }

      &--twistmoe {
        pointer-events: all;
        margin-top: 2px;
      }
    }

    &-buttons {
      &--twistmoe {
        margin-right: -8px;
      }
    }
  }
}

.skip-indicator {
  margin-top: -2.5px;
  height: 5px;

  &--jw {
    margin-top: -2px;
    height: 4px;
  }

  &--videojs {
    margin-top: -4px;
    height: 8px;
  }

  &--twistmoe {
    margin-top: -1px;
    height: 2px;
  }
}

.skip-button {
  &--jw {
    right: 2em;
    bottom: 5em;

    &--fullscreen {
      right: 4.5em;
      bottom: 9em;
    }
  }

  &--doodstream {
    right: 4.3em;
    bottom: 7em;
  }
}
