// Media queries
$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';

// Override custom player styles
:host {
  all: initial !important;
  font-size: 16px !important;
}

// Override user agent stylesheet
form {
  margin-block-end: 0;
}

.submit,
.vote {
  $crunchyroll-button-size: 40px;
  $jw-button-size: 44px;
  $doodstream-button-size: 60px;
  $videojs-button-size: 40px;
  $fouranime-button-size: 30px;

  &-menu {
    &--crunchyroll {
      bottom: 7rem;
      @media (min-width: $md) {
        bottom: 11rem;
      }
    }

    &--jw {
      bottom: 6rem;
      @media (min-width: $md) {
        bottom: 10rem;
        right: 0.5rem;
      }
      &--fullscreen {
        @media (min-width: $xl) {
          right: 3rem;
          bottom: 13rem;
        }
      }
    }

    &--doodstream {
      right: 2.5rem;
      bottom: 9rem;
      @media (min-width: $md) {
        bottom: 13rem;
      }
    }

    &--4anime {
      bottom: 6rem;
      @media (min-width: $md) {
        bottom: 9rem;
      }
      @media (min-width: 901px) {
        bottom: 7rem;
      }
    }

    &--streamhd {
      bottom: 9rem;
      @media (min-width: $md) {
        bottom: 16rem;
      }
    }

    &--fcdn {
      bottom: 6rem;
      right: 0.5rem;
      @media (min-width: $md) {
        bottom: 10rem;
      }
    }

    &--streamtape,
    &--mixdrop {
      bottom: 5rem;
      @media (min-width: $md) {
        bottom: 9em;
      }
    }

    &-button {
      &--plyr {
        margin-right: -2px;
      }

      &--crunchyroll {
        width: $crunchyroll-button-size;
        height: $crunchyroll-button-size;
      }

      &--jw {
        width: $jw-button-size;
        height: $jw-button-size;
      }

      &--doodstream {
        width: $doodstream-button-size;
        height: $doodstream-button-size;
      }

      &--videojs {
        width: $videojs-button-size;
        height: $videojs-button-size;
      }

      &--twistmoe {
        pointer-events: all;
        margin-top: 2px;
      }

      @media (min-width: 901px) {
        &--4anime {
          width: $fouranime-button-size;
          height: $fouranime-button-size;
        }
      }
    }
  }
}

.skip {
  &-indicators {
    &--plyr {
      top: 50%;
      height: 5px;
      margin-top: -2.5px;
    }

    &--jw {
      top: 50%;
      margin-top: -2px;
      height: 4px;
    }

    &--mp4upload {
      top: 50%;
      margin-top: -4px;
      height: 8px;
    }

    &--twistmoe {
      top: 50%;
      margin-top: -1px;
      height: 2px;
    }
  }

  &-button {
    &--jw {
      right: 2rem;
      bottom: 6rem;

      &--fullscreen {
        @media (min-width: $xl) {
          right: 4.5rem;
          bottom: 9rem;
        }
      }
    }

    &--doodstream {
      right: 3.9rem;
      bottom: 9rem;
    }

    &--4anime {
      bottom: 6rem;
    }

    &--streamhd {
      bottom: 9rem;
    }

    &--fcdn {
      bottom: 6rem;
      right: 2rem;
    }

    &--streamtape {
      bottom: 5rem;
    }

    &--mixdrop {
      bottom: 6rem;
    }
  }
}

.menu-buttons {
  &--4anime {
    position: absolute;
    top: 2.5px;
    right: 47.5px;
    @media (min-width: 901px) {
      top: 0px;
      right: 125px;
    }
  }
}
