* {
  font-size: 16px;
}

.submit {
  $aniwatch-submit-button-size: 32px;
  $crunchyroll-submit-button-size: 40px;
  $jw-submit-button-size: 44px;

  &-container {
    &--aniwatch {
      margin-right: -2px;
      width: $aniwatch-submit-button-size;
      height: $aniwatch-submit-button-size;
    }

    &--crunchyroll {
      width: $crunchyroll-submit-button-size;
      height: $crunchyroll-submit-button-size;
    }

    &--jw {
      width: $jw-submit-button-size;
      height: $jw-submit-button-size;
    }
  }

  &-button {
    &--aniwatch {
      width: 50%;
      height: 50%;
    }

    &--crunchyroll {
      width: 50%;
      height: 50%;
    }

    &--jw {
      width: 50%;
      height: 50%;
    }
  }

  &-menu {
    &--aniwatch {
      bottom: $aniwatch-submit-button-size;
    }

    &--crunchyroll {
      bottom: $crunchyroll-submit-button-size;
    }

    &--jw {
      bottom: $jw-submit-button-size;
    }
  }
}
