@use 'crunchyroll/styles' as *;
@use 'jw/styles' as *;
@use 'plyr/styles' as *;
@use 'twistmoe/styles' as *;
@use 'videojs/styles' as *;
@use 'kodik/styles' as *;

// Override custom player styles.
:host {
  all: initial !important;
  font-size: 16px !important;
}

// Override user agent stylesheet.
form {
  margin-block-end: 0 !important;
}

.skip-button.mobile {
  right: 1.25em;
}

.menus.mobile {
  left: 1.25em;
  right: auto;
  bottom: 4em;
}
