name: CI

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - src/**
      - package.json
      - yarn.lock
  pull_request:
    branches:
      - main

  # add manual trigger
  workflow_dispatch:

jobs:
  continuous-integration-chrome:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # run tests
      - run: yarn install
      - run: yarn lint
      - run: yarn build:prod:chrome

  continuous-integration-firefox:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # run tests
      - run: yarn install
      - run: yarn lint
      - run: yarn build:prod:firefox
