name: Release

env:
  CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
  CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
  CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
  CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
  WEB_EXT_API_KEY: ${{ secrets.WEB_EXT_API_KEY }}
  WEB_EXT_API_SECRET: ${{ secrets.WEB_EXT_API_SECRET }}

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  release-chrome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install

      - name: Build and zip
        run: yarn build:prod:chrome

      - name: Publish
        run: yarn chrome-webstore-upload upload --source ./web-ext-artifacts/*.zip --auto-publish
        env:
          EXTENSION_ID: ${{ env.CHROME_EXTENSION_ID }}
          CLIENT_ID: ${{ env.CHROME_CLIENT_ID }}
          CLIENT_SECRET: ${{ env.CHROME_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ env.CHROME_REFRESH_TOKEN }}

      - name: Evaluate path and filename
        run: |
          echo "CHROME_ASSET_PATH=$(echo ./web-ext-artifacts/*.zip)" >> $GITHUB_ENV
          echo "CHROME_ASSET_FILENAME=$(basename ./web-ext-artifacts/*.zip)" >> $GITHUB_ENV

      - name: Upload asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.CHROME_ASSET_PATH }}
          asset_name: ${{ env.CHROME_ASSET_FILENAME }}
          asset_content_type: application/zip

  release-firefox:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install

      - name: Build and zip
        run: yarn build:prod:firefox

      - name: Publish
        # yarn 2 does not work with web-ext-submit
        run: |
          sudo npm install -g web-ext-submit
          web-ext-submit --source-dir ./dist
        env:
          WEB_EXT_API_KEY: ${{ env.WEB_EXT_API_KEY }}
          WEB_EXT_API_SECRET: ${{ env.WEB_EXT_API_SECRET }}

      - name: Evaluate path and filename
        run: |
          echo "FIREFOX_ASSET_PATH=$(echo ./web-ext-artifacts/*.zip)" >> $GITHUB_ENV
          echo "FIREFOX_ASSET_FILENAME=$(basename ./web-ext-artifacts/*.zip)" >> $GITHUB_ENV

      - name: Upload asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.FIREFOX_ASSET_PATH }}
          asset_name: ${{ env.FIREFOX_ASSET_FILENAME }}
          asset_content_type: application/zip
