@use '../common-styles' as common;

$button-size: 40px;
$dood-button-size: 60px;

$mp4upload-player-buttons-background-colour: #00b3ff;

.submit,
.vote {
  &-menu-button {
    &--videojs {
      width: $button-size;
      height: $button-size;
    }

    &--mp4upload:hover {
      background-color: $mp4upload-player-buttons-background-colour;
    }

    &--mixdrop {
      margin-right: -5px;
    }

    &--dood {
      width: $dood-button-size;
      height: $dood-button-size;
    }

    &--active--mp4upload {
      background-color: $mp4upload-player-buttons-background-colour;
    }
  }
}

.skip {
  &-indicators--mp4upload {
    top: 50%;
    margin-top: -4px;
    height: 8px;
  }

  &-button {
    &--mixdrop {
      bottom: 5em;
    }

    &--dood {
      right: 3.9em;
      bottom: 8em;
      cursor: pointer;
    }
  }
}

.menus {
  &--mixdrop {
    bottom: 5em;

    @media (min-width: common.$md) {
      bottom: 9em;
    }
  }

  &--dood {
    right: 2.5em;
    bottom: 8em;

    @media (min-width: common.$md) {
      bottom: 12em;
    }
  }

  &--mobile {
    &--mixdrop {
      bottom: 5em;
    }

    &--dood {
      bottom: 8em;
    }
  }
}
