@use '../common-styles' as common;

$button-size: 40px;
$dood-button-size: 60px;
$variant: videojs;

.submit,
.vote {
  &-menu-button {
    &--#{$variant} {
      width: $button-size;
      height: $button-size;
    }

    &--dood {
      width: $dood-button-size;
      height: $dood-button-size;
    }
  }
}

.skip {
  &-indicators--mp4upload {
    top: 50%;
    margin-top: -4px;
    height: 8px;
  }

  &-button {
    &--mixdrop {
      bottom: 5em;
    }

    &--dood {
      right: 3.9em;
      bottom: 9em;
    }
  }
}

.menus {
  &--mixdrop {
    bottom: 5em;

    @media (min-width: common.$md) {
      bottom: 9em;
    }

    &--mobile {
      bottom: 5em;
    }
  }

  &--dood {
    right: 2.5em;
    bottom: 9em;

    @media (min-width: common.$md) {
      bottom: 13em;
    }

    &--mobile {
      bottom: 9em;
    }
  }
}
